<html>

<style>
body {
  background-color: AntiqueWhite;
}
</style>

<body>

  <form>
    <h1>SISLEG</h1>
    Título   <input type="text" name="Título" size="40" placeholder="digite o título do documento"/>
</br>
</br>
</br>
    Conteúdo    <textarea name="Conteúdo" rows="5" cols="40">insira o conteúdo do documento
              </textarea>
  </form>

</body>
</html>
