<html>

<style>
body {
  background-color: AntiqueWhite;
}
</style>

<body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
  <form>
    <center>
      <h1>SISLEG</h1>
      <input type="text" name="pesquisa" size="70" placeholder="digite os termos para pesquisa"/>
      <form action="nomedoarquivo" method="POST"/>
      <input type="submit" value="pesquisar"/>
      </br>
      <input type="radio" name="externo" value="interno"/>fontes externas
      <input type="radio" name="interno" value="interno"/>fontes internas
    </center>
  </form>
</body>
</html>
